@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.homepage{ 
	margin-top: 20px;
	margin-left: 250px;
	transition: 0.5s;
	font-family: 'Open Sans', sans-serif;
}
#check:checked~ .homepage{
	margin-left: 60px;
	transition: 0.5s;
}
.homepage .homepage-title{
  margin-left: 30px;
}
.homepage .homepage-title h1{
  font-family: 'Open Sans', sans-serif;
}
.homepage .homepage-title p{
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
  padding-left: 5px;
}
/* Block*/
.block-chain {
	margin-top: 40px;
	margin-bottom: 100px;
	margin-left:50px;
	transition: 0.5s;
	display: flex;
	transition: 0.5s;
}
#check:checked~ .block-chain{
    margin-left: 60px;
	transition: 0.5s;	

}
.block-chain .block-card{
	border: 3px solid 	#D8D8D8;
	border-radius: 10px;
	padding: 10px;
	margin-left: 50px;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    

}

.block-chain .block-card:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(13, 209, 227, 1);
}


.block-card .block-body{
padding: 10px;
}

.block-title{
	padding: 10px;
	margin-bottom: 15px;
	
}
.block-data{
	padding: 10px;
	border:solid 2px #D8D8D8;
	background-color: #F5F5F5;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.block-data h4{
	margin-top: 5px;
	margin-bottom: 5px;
}



.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	width: 300px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 10px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2980B9;}