{% extends "layout.html" %}
{% block body %}
<!--Main Content -->
<div class="account-page">
 <link href="{{ url_for('static', filename= 'css/account_page.css') }}" rel="stylesheet">
<h1 class="account-title"> My Account</h1>
	<form>
          <label for="sender">Name:</label><br>
          <input type="text" class="account-page-inputbox" id="name" value="{{current_user.name}}" disabled="true"><br>
          <label for="receiver">Username:</label><br>
          <input type="text" class="account-page-inputbox" id="username" value="{{current_user.username}}" disabled="true"><br>
          <label for="amount">Email:</label><br>
          <input type="text" class="account-page-inputbox" id="email" value="{{current_user.email}}" disabled="true"><br>
           <label for="amount">Key:</label><br>
          <input type="text" class="account-page-inputbox" id="key" value="{{current_user.key}}" disabled="true"><br>
           <label for="amount">Balance:</label><br>
          <input type="text" class="account-page-inputbox" id="balanced" value="100" disabled="true"><br>
   </form>

</div>
<!--End Home Page-->
{% endblock %}