{% extends "layout.html" %}
{% block body %}
<!--Main Content -->
 <link href="{{ url_for('static', filename= 'css/blockview_page.css') }}" rel="stylesheet">
<div class="homepage">
	<div class="homepage-title">
     <h1>Current Verfied Blockchain</h1>
     <p>Backend by decentralized nodes</p>
    </div>
    <!--Block chain -->
    <div class="block-chain">
    	<!--Block -->
   	  <div class="block-card"> 	
   	  	  <div class="block-body"> 
   	       
           <div class="block-header">
            <h3 class="block-title">Genesis Block</h3>
           </div>
           <div class="block-data">
            <h4>block hash generated</h4>
            <p>f332a8991231dasda3dsdfsasd</p> 
          </div>
           <div class="block-data">
             <h4>Previous block hash</h4>
             <p>g0234ndf0a234fqad2aa89912</p> 
           </div>
           <div class="block-data">
            <h4>TimeStamp</h4>
            <p>current time</p>
           </div><br>

           <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Transcation 1</a>
              <a href="#">Transcation 2</a>
              <a href="#">Transcation 3</a>
            </div>
          </div>
         

          <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>


   	     </div>
   	  </div>
     
      <!--End Block -->
  </div>  
 <!--End Blockchain-->
</div>
<!--End Home Page-->
{% endblock %}

