{% extends "layout.html" %}
{% block body %}
<!--Main Content -->
 <link href="{{ url_for('static', filename= 'css/blockview_page.css') }}" rel="stylesheet">
<div class="homepage">
	<div class="homepage-title">
     <h1>Current Verfied Blockchain</h1>
     <p>Backend by decentralized nodes</p>
    </div>
    <!--Block chain -->
    <div class="block-chain">
    	<!--Block -->
   	  <div class="block-card"> 	
   	  	  <div class="block-body"> 
   	       <h5>Block <small >(Test_Block)</small></h5><hr class="divider">
   	        <ul class="block-list">
   	        	<li class="block-list-item">
   	        		<span>Hash</span> <br>
   	        		<div class="">
   	        			<small>Example of Current Hash</small>
   	             	<div>
   	        	</li>
   	        	<hr class="divider">
   	        	<li class="block-list-item">
   	        		<span>Previous Hash</span> <br>
   	        		<div class="">
   	        			<small>Example of Previous Hash</small>
   	             	<div>
   	        	</li>
   	        	<hr class="divider">
   	        	<li class="block-list-item">
   	        		<span>Timestamp</span> <br>
   	        		<div class="">
   	        			<small>Example of TimeStamp</small>
   	             	<div>
   	        	</li>
   	        </ul>
   	     </div>
   	  </div>
      <div class="block-card">  
          <div class="block-body"> 
           <h5>Block <small >(Test_Block)</small></h5><hr class="divider">
            <ul class="block-list">
              <li class="block-list-item">
                <span>Hash</span> <br>
                <div class="">
                  <small>Example of Current Hash</small>
                  <div>
              </li>
              <hr class="divider">
              <li class="block-list-item">
                <span>Previous Hash</span> <br>
                <div class="">
                  <small>Example of Previous Hash</small>
                  <div>
              </li>
              <hr class="divider">
              <li class="block-list-item">
                <span>Timestamp</span> <br>
                <div class="">
                  <small>Example of TimeStamp</small>
                  <div>
              </li>
            </ul>
         </div>
      </div>
      <div class="block-card">  
          <div class="block-body"> 
           <h5>Block <small >(Test_Block)</small></h5><hr class="divider">
            <ul class="block-list">
              <li class="block-list-item">
                <span>Hash</span> <br>
                <div class="">
                  <small>Example of Current Hash</small>
                  <div>
              </li>
              <hr class="divider">
              <li class="block-list-item">
                <span>Previous Hash</span> <br>
                <div class="">
                  <small>Example of Previous Hash</small>
                  <div>
              </li>
              <hr class="divider">
              <li class="block-list-item">
                <span>Timestamp</span> <br>
                <div class="">
                  <small>Example of TimeStamp</small>
                  <div>
              </li>
            </ul>
         </div>
      </div>
	   <div class="block-card"> 	
   	  	  <div class="block-body"> 
   	       <h5>Block <small >(Test_Block)</small></h5><hr class="divider">
   	        <ul class="block-list">
   	        	<li class="block-list-item">
   	        		<span>Hash</span> <br>
   	        		<div class="">
   	        			<small>Example of Current Hash</small>
   	             	<div>
   	        	</li>
   	        	<hr class="divider">
   	        	<li class="block-list-item">
   	        		<span>Previous Hash</span> <br>
   	        		<div class="">
   	        			<small>Example of Previous Hash</small>
   	             	<div>
   	        	</li>
   	        	<hr class="divider">
   	        	<li class="block-list-item">
   	        		<span>Timestamp</span> <br>
   	        		<div class="">
   	        			<small>Example of TimeStamp</small>
   	             	<div>
   	        	</li>
   	        </ul>
   	     </div>
   	  </div>
      <!--End Block -->
  </div>  
 <!--End Blockchain-->
</div>
<!--End Home Page-->
{% endblock %}

